In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('sample_data/california_housing_test.csv')

In [3]:
print(data)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

In [4]:
data = pd.read_json('sample_data/anscombe.json')

In [5]:
print(data)

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

In [6]:
data = pd.read_csv('sample_data/california_housing_test.csv', names=['longitude'])

In [7]:
print(data)

                                                                                                                    longitude
longitude   latitude  housing_median_age total_rooms total_bedrooms population  households  median_income  median_house_value
-122.050000 37.370000 27.000000          3885.000000 661.000000     1537.000000 606.000000  6.608500            344700.000000
-118.300000 34.260000 43.000000          1510.000000 310.000000     809.000000  277.000000  3.599000            176500.000000
-117.810000 33.780000 27.000000          3589.000000 507.000000     1484.000000 495.000000  5.793400            270500.000000
-118.360000 33.820000 28.000000          67.000000   15.000000      49.000000   11.000000   6.135900            330000.000000
...                                                                                                                       ...
-119.860000 34.420000 23.000000          1450.000000 642.000000     1258.000000 607.000000  1.179000            225000.000000
-118.140000 34.060000 27.000000          5257.000000 1082.000000    3496.000000 1036.000000 3.390600            237200.000000
-119.700000 36.300000 10.000000          956.000000  201.000000     693.000000  220.000000  2.289500             62000.000000
-117.120000 34.100000 40.000000          96.000000   14.000000      46.000000   14.000000   3.270800            162500.000000
-119.630000 34.420000 42.000000          1765.000000 263.000000     753.000000  260.000000  8.560800            500001.000000

[3001 rows x 1 columns]

In [9]:
data = pd.read_csv('sample_data/california_housing_test.csv', usecols=[0])

In [10]:
print(data)

      longitude
0       -122.05
1       -118.30
2       -117.81
3       -118.36
4       -119.67
...         ...
2995    -119.86
2996    -118.14
2997    -119.70
2998    -117.12
2999    -119.63

[3000 rows x 1 columns]

In [11]:
data.iloc[:3]

   longitude
0    -122.05
1    -118.30
2    -117.81